/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

#title{
/*Size & position*/
	width: 90%;
	margin: auto;
	margin-top: 30px;
	padding: 10px;

/*font*/
	font-family: "Rajdhani", sans-serif;
	font-size: 2.6rem;
	color: #fff;
	text-shadow: 0px 0px 3px #64e8e8;

/*border*/
	border: 3px dotted #fff;
	border-radius: 20px;
}
			
* {
	text-align: center;
	justify-content: center;
	font-family: "Rajdhani", sans-serif;
}
#display {
	width: 200px;
	height: 200px;
	background-image: linear-gradient(white, #baaca0);
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 10px;
	line-height: 200px;
	font-size: 3em;
	font-weight: bolder;
	color: white;
	text-shadow: 1px 1px 10px grey;
	border-radius: 10px;
}
@keyframes mymove {
50% {transform: rotate(360deg);}
}
.numbers {
	display: inline-block;				
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: black;
	margin: 7.5px;				
	background: radial-gradient(circle at 30px 20px, white, #baaca0);
	color: white;
	text-shadow: 1px 1px 10px grey;
}
.numbers.active {
	line-height: 100px;
	font-size: 2em;
	box-shadow: 0 0 10px 3px #64e8e8;
	position: relative;
}
#button {
	background-image: linear-gradient(#fdfcfb, #e3d2c4);
	border-radius: 25px;
	height: 30px;
	margin-bottom: 40px;
	padding: 1em 1.5em 2em 1.5em;

	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
}
#button:hover{
	background-image: linear-gradient(#ff7082, #F7CB6D);
	box-shadow: 0 0 10px 3px #99404c;
}
#button:active {
	background-image: linear-gradient(#e3d2c4, #fdfcfb);
}
#reset {
	background-image: linear-gradient(#bcc5ce, #939fae);
	border-radius: 25px;
	height: 30px;
	padding: 1em 1em 2em 1em;
	font-weight: bold;
	display: none;
}
#reset:hover{
	background-image: linear-gradient(#eee, #64e8e8);
	box-shadow: 0 0 10px 3px #99404c;
}
body{
	background-image: linear-gradient(#F8CC71, #FF8019);
	background-size: 1000px 1000px;
}